{% extends 'tv_data/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}About The TV Datatron{% endblock %}
{% block content %}

<div class="row animate-box">
	<div class='col-lg-12'>
		<h6 class="breadcrumb-trail"><a href="{% url 'index' %}">Home</a> > About</h6>
	</div>
	<div class='col-lg-12'>
		<h1>About Us</h1>
		<p>One day, while watching the awful final season of Game Of Thrones, I was wondering if this was the worst final season of a show I'v ever seen. I thought it was, but then I decided to have the numbers tell me. This website takes data from <a target="_blank" href="https://wwww.imdb.com">IMDB</a> and makes it somewhat visually appealing to let you see cool data stuff on TV shows. You can look at data from a single show, compare two different shows, or look at our <a href="{% url 'best_of_the_best' %}">Best Of The Best</a> show leaderboard to see what are the top shows, episodes and more of all time. Just enter your favorite show above to get going.</p>
	</div>
</div>
{% endblock %}