{% extends 'tv_data/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}TV Datatron 3000 - {{show1}} vs. {{show2}}{% endblock %}
{% block content %}

<link
    href="{% static 'bokeh/bokeh-0.13.0.min.css' %}"
    rel="stylesheet" type="text/css">
<link
    href="{% static 'bokeh/bokeh-widgets-0.12.13.min.css' %}"
    rel="stylesheet" type="text/css">
<link
    href="{% static 'bokeh/bokeh-tables-0.13.0.min.css' %}"
    rel="stylesheet" type="text/css">

<script src="{% static 'bokeh/bokeh-0.13.0.min.js' %}"></script>
<script src="{% static 'bokeh/bokeh-widgets-0.13.0.min.js' %}"></script>
<script src="{% static 'bokeh/bokeh-tables-0.13.0.min.js' %}"></script>


<div class="row animate-box">
	<div class='col-lg-12'>
		<h6 class="breadcrumb-trail"><a href="{% url 'index' %}">Home</a> > <a href="{% url 'show_comparer' %}">Show Comparer</a> > {{show1}} vs. {{show2}}</h6>
		<h3>Change Shows</h3>
	</div>
	<div class="col-lg-6">
		<form method="GET" enctype="multipart/form-data">
		<h4>Show #1</h4>
		<select required name="show1" oninvalid="this.setCustomValidity('You must select a second show')" oninput="setCustomValidity('')">
  			<option value="">--- Select A Show ---</option>
			{% for show in shows %}
			<option value="{{show.title_slugged}}">{{show}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-6">
		<h4>Show #2</h4>
		<select required name="show2" oninvalid="this.setCustomValidity('You must select a second show')" oninput="setCustomValidity('')">
  			<option value="">--- Select A Show ---</option>
			{% for show in shows %}
			<option value="{{show.title_slugged}}">{{show}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-12">
		<button type="submit" class="btn-primary custom-submit">Select Shows</button>
		{% if request.session.shows_match %}
			<h3 class='show-not-found-error-message'>{{ request.session.shows_match }}</h3>
		{% endif %}
		</form>
	</div>
</div>
<div class="row animate-box first-chart-section">
	<div class="col-lg-12">
		<h1>Show Comparison - {{show1}} vs. {{show2}}</h1>
	</div>
</div>
<div class="row animate-box first-chart-section">
	<div class="col-lg-4 col-xs-12">
		<h2 class="chart-header">Overall Rating</h2>
		<p>{{show1.title}}, over the course of {{compareOverallRating.show_1_number_of_episodes}} episodes, has an average rating of {{compareOverallRating.show_1_rating}}. {{show2.title}}, which has a total of {{compareOverallRating.show_2_number_of_episodes}} episodes, has an average rating of {{compareOverallRating.show_2_rating}}.</p>
	</div>
	<div class="col-lg-8 col-xs-12">
		{{compareOverallRating.div|safe}}
		{{compareOverallRating.script|safe}}
	</div>
</div>
<div class="row animate-box chart-section">
	<div class="col-lg-8 col-xs-12">
		{{compareSeasons.div|safe}}
		{{compareSeasons.script|safe}}
	</div>
	<div class="col-lg-4 col-xs-12">
		<h2 class="chart-header">Compare Seasons</h2>
		<p>The chart to the left shows each season of {{show1.title}} and {{show2.title}} were rated on IMDB. Let's break it down!</p>
		<ul>
			<li>The average rating for a season of {{show1.title}} is <strong>{{compareSeasons.season_1_average}}</strong> while {{show2.title}} has an average rating of <strong>{{compareSeasons.season_2_average}}</strong>.</li>
			<li>The best season of {{show1.title}} has a rating of <strong>{{compareSeasons.season_1_max}}</strong> while the best season of {{show2.title}} is <strong>{{compareSeasons.season_2_max}}</strong></li>
			<li>The worst season of {{show1.title}} has a rating of <strong>{{compareSeasons.season_1_min}}</strong> while the worst season of {{show2.title}} is <strong>{{compareSeasons.season_2_min}}</strong>.</li>
		</ul>
	</div>
</div>
<div class="row animate-box chart-section">
	<div class="col-lg-4 col-xs-12">
		<h2 class="chart-header">Number Of Episodes</h2>
		<p>{{show1.title}} has a total of {{numberOfEpisodes.show_1_episodes}} episodes and {{show2.title}} has a total of {{numberOfEpisodes.show_2_episodes}} episodes.</p>
	</div>
	<div class="col-lg-8 col-xs-12">
		{{numberOfEpisodes.div|safe}}
		{{numberOfEpisodes.script|safe}}
	</div>
</div>
<div class="row animate-box chart-section">
	<div class="col-lg-12">
		<h2 class="chart-header">Binge Time - How long will each show take to consume?</h2>
		<h3 id="length-of-show-stat">Anytime you take on a new show it is potentially a serious investment of time. So how long will these shows take you to consume? {{longer_show.title}} is the longer of the two shows at a total of <span id="highlight-text">{{longer_show_minutes|intcomma}} minutes</span> (or <span id="highlight-text">{{longer_show_hours}} hours</span>). {{shorter_show.title}} is less of a time commitment at <span id="highlight-text">{{shorter_show_minutes|intcomma}} minutes</span> (or <span id="highlight-text">{{shorter_show_hours}} hours</span>).</h3>
	</div>
</div>
<div class="row animate-box chart-section">
	<div class="col-lg-8 col-xs-12">
		{{compareNumberOfRatings.div|safe}}
		{{compareNumberOfRatings.script|safe}}
	</div>
	<div class="col-lg-4 col-xs-12">
		<h2 class="chart-header">Popularity Comparison</h2>
		<p>The chart to the left shows how many ratings each episode of both shows received.</p>
		<ul>
			<li>{{show1.title}} has a total of <strong>{{compareNumberOfRatings.show_1_total_ratings|intcomma}} ratings</strong> while {{show2.title}} has a total of <strong>{{compareNumberOfRatings.show_2_total_ratings|intcomma}} ratings</strong>.</li>
			<li>{{show1.title}} and {{show2.title}} don't have the same number of episodes, so what about ratings per episode? {{show1.title}} has an average of <strong>{{compareNumberOfRatings.show_1_average_ratings|intcomma}} ratings</strong> and {{show2.title}} has a total of <strong>{{compareNumberOfRatings.show_2_average_ratings|intcomma}} ratings</strong>.</li>
			<li>What about the most popular episode? For {{show1.title}} the most popular episode got a total of {{compareNumberOfRatings.show_1_max_ratings|intcomma}} ratings. The most popular episode of {{show2.title}} got a total of {{compareNumberOfRatings.show_2_max_ratings|intcomma}} ratings.</li>
		</ul>
	</div>
</div>
<div class="row animate-box chart-section">
	<div class="col-lg-12">
		<h2 class="chart-header">Top Episode Comparison</h2>
		<p>Let's compare the best episodes of {{show1.title}} and {{show2.title}}. Which show has more great episodes? Below you can see the ten highest rated episoes of both shows.
	</div>
	<div class="col-lg-6 col-xs-12">
		<h3>{{show1.title}}</h3>
		{{compareTopEpisodes.div1|safe}}
		{{compareTopEpisodes.script1|safe}}
	</div>
	<div class="col-lg-6 col-xs-12">
		<h3>{{show2.title}}</h3>
		{{compareTopEpisodes.div2|safe}}
		{{compareTopEpisodes.script2|safe}}
	</div>
</div>
{% endblock %}